body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8fcef;
    color: #356b2d;
}


.menu {
    background-color: #237523;
    padding: 15px;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

.conteudo {
    width: 85%;
    margin: auto;
}

.titulo {
    text-align: center;
    color: #237523;
    margin-top: 40px;
}

.caixa {
    background-color: white;
    margin: 25px 0;
    padding: 25px;
    border-left: 6px solid #a9df32;
    box-shadow: 0 3px 10px #d5e5c5;
}

.caixa h2 {
    color: #237523;
}

.caixa p {
    font-size: 17px;
    line-height: 1.6;
}

.rodape {
    background-color: #237523;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
}
