.faixa {
    margin-top: 20px;

    min-height: 115px;

    background: #a9d83c;

    display: flex;

    align-items: center;

    justify-content: space-around;

    gap: 25px;

    padding: 22px 35px;

    position: relative;
}


.faixa::after {
    content: "";

    position: absolute;

    right: -60px;
    top: -35px;

    width: 170px;
    height: 170px;

    border-radius: 50%;

    background: #2c6e1f;

    opacity: .12;
}


/* Texto da faixa */

.logo-texto {
    font-size: 28px;

    font-weight: 900;

    color: #245d1a;

    text-transform: uppercase;
}


.logo-texto span {
    display: block;

    font-size: 12px;

    letter-spacing: 1px;

    font-weight: normal;
}


/* Símbolo de reciclagem */

.reciclagem {
    font-size: 58px;
}